<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/resources/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <title>学生管理系统</title>
</head>
<body>

<div style="width: 100%; height: 86px ;background: #4e555b; overflow: hidden;"><h1 style="position: absolute;left: 100px;color: white">学生信息管理系统</h1></div>
<div style="width: 100%; height: 30px; margin:  0 auto; background: #56666B;overflow: hidden;"></div>

<table class="table table-bordered" style="width: 1000px" align="center">
    <caption><strong>考试成绩</strong>&nbsp;&nbsp;<strong><a href="score.html">返回</a></strong></caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>课程编号</th>
        <th>课程名称</th>
        <th>总学时</th>
        <th>学分</th>
        <th>修读性质</th>
        <th>考核方式</th>
        <th>成绩</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

</body>
</html>